<%= @sub.title %>
<%= @sub.description %>
<a href="<%=edit_sub_url%>">Edit Sub</a>
<a href="<%=subs_url%>">All Subs</a>
<a href="<%=new_sub_post_url(@sub)%>">Submit a Post</a>
<% @sub.posts.each do |post| %>
  <a href="<%=sub_post_url(@sub,post)%>"><%=post.title%></a>
<% end %>
